.delete {
	font-size: 18px; /* Preferred icon size */
	vertical-align: middle;
	padding-right: 10px;
}

.delete:hover {
	color: red;
}

li {
	font-size: 18px;
}
.list-item {
	font-family: 'Mulish', sans-serif;
}
